<!--The body of the home page-->
<div style="text-align:center" xmlns="" class="mainContent">
  <div class="container-fluid" style="padding-top: 5px">
    <div class="jumbotron">
      <h1 class="d-none d-md-block">
        The countdown to the <b>'{{title}}'</b> release begins!!
      </h1>
      <h3 class="d-md-none">
        The countdown to the <b>'{{title}}'</b> release begins!!
      </h3>
      <div class="wrapper">
        <div class="h_iframe">
          <!-- a transparent image is preferable -->
          <img class="ratio" src="http://placehold.it/16x9"/>
          <iframe class="fb-video" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fheartandsoulradio%2Fvideos%2F10155282657142600%2F&show_text=0" frameborder="0" allowFullScreen></iframe>
        </div>
      </div>
      <img class="albumArt" src="../../../assets/img/LostOnMeAlbumCover.jpg" />
      <div class="row text-center" id="myCounter"></div>
    </div>
  </div>
</div>
<script>
  // Find all iframes
  var $iframes = $( "iframe.fb-video" );

  // Find &#x26; save the aspect ratio for all iframes
  $iframes.each(function () {
    $( this ).data( "ratio", this.height / this.width )
    // Remove the hardcoded width &#x26; height attributes
      .removeAttr( "width" )
      .removeAttr( "height" );
  });

  // Resize the iframes when the window is resized
  $( window ).resize( function () {
    $iframes.each( function() {
      // Get the parent container&#x27;s width
      var width = $( this ).parent().width();
      $( this ).width( width )
        .height( width * $( this ).data( "ratio" ) );
    });
// Resize to fix all iframes on page load.
  }).resize();
</script>

