<!-- Full Width Home Page -->
<div class="continer-fluid" id="homeLander">
    <div class="row justify-content-center">

        <div id="desktopPlayer" class="col text-center d-none d-md-block">
          <app-spotify-player></app-spotify-player>
        </div>
        <div class="col-sm-4 text-center order-xs-first">

            <h1 class="">
              <b>'{{title}}'</b> out now!
            </h1>
            <app-album-art></app-album-art>
            <div class="row justify-content-center">
              <a href="https://geo.itunes.apple.com/us/album/lost-on-me-ep/id1294042301?app=itunes" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/itunes-lrg.svg) no-repeat;width:200px;height:80px;background-size:contain;margin-top:20px;"></a>
            </div>

            <div class="row justify-content-center">
              <a href="https://geo.itunes.apple.com/us/album/lost-on-me-ep/id1294042301?app=itunes">
                <img class="albumArt" src="../../../assets/img/LostOnMeAlbumCover.jpg" />
              </a>
            </div>
            <div class="row justify-content-center">
              <a href="https://goo.gl/oKAURM"><img id="buyOnGooglePlay" src="../../../assets/img/googlePlay.png"/></a>
            </div>

        </div>
        <div class="col-sm text-center d-none d-md-block">
          <app-fb-promo></app-fb-promo>
        </div>

    </div>
</div>

<!--The body of the home page-->
<div style="text-align:center" xmlns="" class="mainContent">
  <div class="container-fluid" style="padding-top: 5px">
    <div class="jumbotron">
      <h1 class="">
        <b>'{{title}}'</b> out now!
      </h1>
      <div class="row justify-content-center">
        <a href="https://geo.itunes.apple.com/us/album/lost-on-me-ep/id1294042301?app=itunes" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/itunes-lrg.svg) no-repeat;width:200px;height:80px;background-size:contain;margin-top:20px;"></a>
      </div>

      <div class="row justify-content-center">
        <a href="https://geo.itunes.apple.com/us/album/lost-on-me-ep/id1294042301?app=itunes">
          <img class="albumArt" src="../../../assets/img/LostOnMeAlbumCover.jpg" />
        </a>
      </div>
      <div class="row justify-content-center">
        <a href="https://goo.gl/oKAURM"><img id="buyOnGooglePlay" src="../../../assets/img/googlePlay.png"/></a>
      </div>
      <!-- Spotify Embed -->
      <br>
      <div class="d-none d-sm-block d-md-none">
        <app-spotify-player></app-spotify-player>
      </div>

      <div class="row justify-content-center">
        <p>No Spotify? No Problem, click on the HSR logo to play our music directly from this page.</p>
      </div>
      <div class="container">

      </div>
    </div>
  </div>


</div>
<script>
  // Find all iframes
  var $iframes = $( "iframe.fb-video" );

  // Find &#x26; save the aspect ratio for all iframes
  $iframes.each(function () {
    $( this ).data( "ratio", this.height / this.width )
    // Remove the hardcoded width &#x26; height attributes
      .removeAttr( "width" )
      .removeAttr( "height" );
  });

  // Resize the iframes when the window is resized
  $( window ).resize( function () {
    $iframes.each( function() {
      // Get the parent container&#x27;s width
      var width = $( this ).parent().width();
      $( this ).width( width )
        .height( width * $( this ).data( "ratio" ) );
    });
// Resize to fix all iframes on page load.
  }).resize();
</script>

