.albumArt{
  margin-top: 20px;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#buyOnGooglePlay{
  position: relative;
  top:-100%;
  display:inline-block;
  overflow:hidden;
  /* background:url(../../../assets/img/googlePlay.png) no-repeat; */
  width:30%;
  margin-top:20px;
}

#desktopPlayer{
  margin-top: 70px;
}


#homeLander{
  background-image: url("../../../assets/img/reelBackground.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.mainContent{
  padding-bottom:50px;
}

#myCounter{
  padding-top: 20px;
}




