<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col col-md-3">
      <iframe src="https://www.toneden.io/heart--soul-radio/post/true-romance-you-be-rosanna-arquette-i-ll-be-that-one-guy?embed=true" allowfullscreen style="border-radius:3px" frameborder="0" height="605" width="100%"></iframe>
    </div>
    <div class="col col-md-9 musicSources ml-auto">
      <a href="https://geo.itunes.apple.com/us/album/lost-on-me-ep/id1294042301?app=itunes">
        <img class="albumArt img-responsive" src="../../../assets/img/LostOnMeAlbumCover.jpg" />
      </a>
      <div class="row justify-content-center">
        <div class="col-md-3">
          <a href="https://geo.itunes.apple.com/us/album/lost-on-me-ep/id1294042301?app=itunes" style="display:inline-block; width:100%; background-size:contain;margin-top:20px;"><img src="//linkmaker.itunes.apple.com/assets/shared/badges/en-us/itunes-lrg.svg" height="80px" width="100%"></a>
        </div>
        <div class="col-md-3">
          <a href="https://goo.gl/oKAURM" style="display:inline-block;width: 100%;margin-top:20px; background-size: contain;"><img src="../../assets/img/googlePlay.png" height="80px" width="100%"/></a>
        </div>
      </div>
    </div>

  <div class="row justify-content-around">
    <div class="col col-md-9 musicSources" hidden>
      <h1 class="disco">Discography</h1>
      <table id="discography" class="table table-hover table-inverse">
        <thead class="sr-only">
        <tr>
          <th>Release Year</th>
          <th>Album Name</th>
          <th>Streaming Sources</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">2017</th>
          <td>Mark</td>
          <td>Otto</td>

        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>

        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>

        </tr>
        </tbody>
      </table>
      <table class="table table-hover table-inverse">
        <thead class="sr-only">
        <tr>
          <th>Music Service #</th>
          <th>Music Service Name</th>
          <th>Style of Music Service</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>

        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>

        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>