/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Bangers';
  src: url('assets/fonts/Bangers-Regular.ttf');
}
body{
  background: black;
  font-family: 'Bangers','Open Sans Condensed', 'Nimbus Sans L', sans-serif;
}
navbar .nav{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

ul li{
  display: inline;
  position: relative;
  padding-right: 10px;
  margin-right: 20px;
}
.navPlayer {
  padding-top: 10px !important;
  margin-top: 10px;
}
#navPlay{
  vertical-align: middle;
}

.fixed-bottom {
  padding-top: 15px !important;
}
.rockfist{
  width: 50px;
  height: 50px;
  color:  aliceblue;
  background: url("/assets/img/HSRWebLogo.png") no-repeat;
  background-size: cover;
  background-color: gray;
  display: inline-block;
  border-radius: 10px;
}
/* Sound bars */
#soundBars {
  height: 30px;
  position: absolute;
  width: 40px;

}

.bar {
  background: #008A9F;
  bottom: 1px;
  height: 12px;
  position: fixed;
  width: 5px;
  animation: sound 0ms -1600ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 20px;
  }
}

.bar:nth-child(1)  { margin-left:90%; left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { margin-left:90%; left: 6px; animation-duration: 433ms; }
.bar:nth-child(3)  { margin-left:90%; left: 11px; animation-duration: 407ms; }
.bar:nth-child(4)  { margin-left:90%; left: 16px; animation-duration: 458ms; }
.bar:nth-child(5)  { margin-left:90%; left: 21px; animation-duration: 400ms; }
.bar:nth-child(6)  { margin-left:90%; left: 26px; animation-duration: 427ms; }
.bar:nth-child(7)  { margin-left:90%; left: 31px; animation-duration: 441ms; }
.bar:nth-child(8)  { margin-left:90%; left: 36px; animation-duration: 419ms; }
.bar:nth-child(9)  { margin-left:90%; left: 41px; animation-duration: 487ms; }
.bar:nth-child(10) { margin-left:90%; left: 46px; animation-duration: 442ms; }

